.profile {
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.profileHeader {
  /* position: -webkit-sticky; */
  /* position: sticky; */
  top: 0;
  width: 100%;
  height: unset;
  background: white;
  z-index: 1;
}
.profileHeader h1 {
  margin: 0rem 0rem;
  width: 100%;
  text-align: center;
  padding: 1vw 0vw 0vw 0vw;
}

.profileHeader h3 {
  font-size: 1.5rem;
  font-style: italic;
}

.spread {
  flex-direction: row;
  align-items: top;
  display: flex;
  padding: 1vw;
  width: 50%;
}

.spread h2 {
  padding: 1vw;
  font-size: 2.5rem;
}

.spread p {
}
@media only screen and (min-width: 900px) {
  .spread {
    /* width: 50%; */
  }

  .spread h2 {
  }
}
@media only screen and (max-width: 900px), (orientation: portrait) {
  .spread {
    flex-direction: column;
    width: 90%;
    /* width: 100%; */
  }
}

.links {
  flex: 3;
  justify-content: center;
  text-align: center;
}

.pic {
  align-self: center;
  flex: 2;
  /* Aligns pic */
  text-align: center;
}

.pic img {
  border-radius: 50%;
  width: 17vh;
  height: auto;
  overflow: hidden;
}

.details {
  flex: 3;
}

.spacer {
  height: 20vw;
}
