@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
/* import Background from '../../assets/images/baby-lsl.png'; */

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: rgb(61, 61, 61);
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

hr {
  opacity: 1;
  height: 0;
  margin: 2vw 10vw;
  border: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: grey;
}

p {
  margin: 0rem 0rem;
  font-size: 1.2rem;
  padding: 0rem 0rem 1rem 0rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(61, 61, 61);
  line-height: 100%;
  font-weight: 300;
  text-align: center;
  margin: 0rem 0rem;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.5rem;
}

@media only screen and (max-width: 900px), (orientation: portrait) {
  p,
  h3 {
    font-size: 2.5rem;
  }
  h1,
  h2 {
    font-size: 3.5rem;
  }
}

.container {
  position: absolute;
}

.section {
  position: relative;
  background-color: white;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  appearance: none;
  font-smoothing: antialiased;
}

button,
input[type='checkbox'] {
  outline: none;
}
