@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
/* import Background from '../../assets/images/baby-lsl.png'; */

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: rgb(61, 61, 61);
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(61, 61, 61);
  line-height: 100%;
  font-weight: 200;
  text-align: center;
  margin: 0rem 0rem;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 100px;
}
.section {
  position: relative;
  background-color: white;
}

.normal input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.normal input::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.normal input::input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  appearance: none;
  font-smoothing: antialiased;
}

button,
input[type='checkbox'] {
  outline: none;
}
