@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
/* import Background from '../../assets/images/baby-lsl.png'; */

html,
body {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  appearance: none;
  font-smoothing: antialiased;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 1);
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

h1 {
  color: rgba(255, 255, 255, 1);
  font-size: 100px;
  line-height: 90%;
  font-weight: 200;
  text-align: left;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

button,
input[type='checkbox'] {
  outline: none;
}

.section {
  position: relative;
  background-color: rgb(226, 226, 226);
}

.splashSection h1 {
  font-size: 20vh;
  width: 40vw;
  font-weight: 300;
  position: absolute;
  bottom: 10px;
  margin: 10px 10px 30px 40px;
}

.splashSection {
  margin: 0px 0 0px 0;
  height: 100vh;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 900px) {
  .pic {
    background-image: url(../../../assets/images/baby-lsl.png);
  }
}

@media only screen and (max-width: 900px), (orientation: portrait) {
  .pic {
    background-image: url(../../../assets/images/baby-lsl-m.png);
  }
}
/* @media (orientation: portrait) {
  .pic {
    background-image: url(../../../assets/images/baby-lsl-m.png);
  }
} */

.pic {
  background-size: cover;
}

.normal input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.normal input::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.normal input::input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}
