@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
/* import Background from '../../assets/images/baby-lsl.jpg'; */

html,
body {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}

/* font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif; */
body {
  font: 14px 'Lato', Helvetica, Arial, sans-serif;
  color: rgb(61, 61, 61);
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
  /* scrollbar-gutter: always; */
}

hr {
  opacity: 1;
  height: 0;
  margin: 2vh 10vw;
  border: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: grey;
}

p {
  margin: 0rem 0rem;
  font-size: 1.2rem;
  color: rgb(61, 61, 61);
  padding: 0rem 0rem 1rem 0rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(61, 61, 61);
  line-height: 100%;
  font-weight: 300;
  text-align: center;
  margin: 0rem 0rem;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

h1 {
  padding: 0.25rem 0rem 0.5rem 0rem;
  font-size: 4rem;
  /* font-weight:  */
}
h2 {
  font-size: 1.75rem;
  font-weight: 400;
  text-align: left;
}
h3 {
  /* font-weight: 400; */
  font-size: 1.5rem;
}

h4,
h5 {
  font-weight: 400;
  text-align: left;
  font-size: 1.2rem;
}

@media only screen and (max-width: 900px), (orientation: portrait) {
  p,
  h3,
  h4,
  h5 {
    font-size: 2.2rem;
  }
  h1,
  h2 {
    font-weight: 400;
  }
  /* h1 {
    font-size: 4rem;
  } */
  h2 {
    font-size: 3rem;
  }
}

.container {
  position: absolute;
}

.section {
  position: relative;
  background-color: white;
}

.navButton {
  position: fixed;
  bottom: 1vh;
  right: 1vh;
  width: 10vh;
  height: 10vh;
  /* display: flex; */
  display: flex;
  flex-direction: row;
  background-color: rgba(5, 100, 25, 0.486);
  z-index: 999;
  border-radius: 100%;
}

button:focus {
  outline: 0;
}

button:hover {
  cursor: pointer;
}

button {
  background-color: transparent;
  flex: 1;
  border: none;
  padding: 0;
}

.navButton button {
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: row;
}

.navButton img {
  flex: 1;
  object-fit: contain;
  height: 55%;
  width: 55%;
  padding: 0;
}

/* button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  appearance: none;
  font-smoothing: antialiased;
}

button,
input[type='checkbox'] {
  outline: none;
} */
