@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

.text {
  flex-direction: column;
  position: relative;
  flex: 3;
}

.text p,
.text h3 {
  margin: 10px 20px 10px 20px;
}

.imageHolder {
  /* Keeps image in middle */
  text-align: center;
  flex: 4;
}

.imageHolder img {
  padding: 10px;
  width: 450px;
}

@media only screen and (max-width: 900px), (orientation: portrait) {
  /* .text p,
  .text h2 {
    font-size: 3rem;
  } */

  .text h2 {
    text-align: center;
  }
}
