@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

.project {
  margin: 3% 5% 3% 5%;
}

.project h1 {
  position: relative;
  flex: 1;
  margin: 0px 0px 0px 0px;
  padding-bottom: 2vh;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
}

.projectContent {
  display: flex;
  align-items: flex-start;
}

.projectContent .text {
  flex-direction: column;
  position: relative;
  flex: 3;
}

.text p,
.text h2 {
  font-size: 2vw;
  font-weight: 200;
  margin: 10px 20px 10px 20px;
}

.imageHolder {
  /* Keeps image in middle */
  text-align: center;
  flex: 4;
}

img {
  padding: 10px;
  width: 450px;
}
