@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

.row {
  /* height: 3000px; */
  width: 100%;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.sidebarContainer {
  position: relative;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 1;
  background: rgb(89, 166, 218);
  padding: 1vh 0%;
  /* width: inherit; */
}

.projectsHeader {
  background-color: rgb(89, 166, 218);
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 100px;
}

.projectsHeader h1 {
  /* position: sticky; */
  width: fit-content;
  text-align: center;
  padding-left: 2vw;
  padding-right: 2vw;
  /* padding: 1vw 2vw 2vw 2vw; */
  /* margin: unset; */
}

.stickyBox {
  display: flex;
  justify-content: center;
}

.projectsContent {
  flex: 3.75;
  height: 100%;
  background-color: rgb(182, 209, 231);
}

@media only screen and (max-width: 900px), (orientation: portrait) {
  .row {
    flex-direction: column;
    height: fit-content;
  }
  .projectsHeader {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: unset;
    z-index: 1;
  }
  .projectsHeader h1 {
    font-weight: 400;
    width: 100%;
    padding: 3vw 0vw;
  }
}
