@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

.row {
  height: 3000px;
  display: flex;
  align-items: flex-start;
}

.projectsHeader {
  background: rgba(36, 95, 2, 1);
  flex: 1;
  min-width: 100px;
  height: 100%;
}

.projectsHeader h1 {
  /* position: sticky; */
  width: fit-content;
  font-size: 4vw;
  text-align: center;
  padding: 1vw 2vw 2vw 2vw;
  margin: unset;
}

.projectsContent {
  flex: 3.75;
  height: 100%;
  background-color: rgb(60, 109, 4);
}

@media only screen and (max-width: 900px), (orientation: portrait) {
  .row {
    flex-direction: column;
  }
  .projectsHeader {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: unset;
    background: rgba(36, 95, 2, 1);
    z-index: 1;
  }
  .projectsHeader h1 {
    width: 100%;
    padding: 3vw 0vw;

    /* background-color: blueviolet; */
  }
}
