@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
/* import Background from '../../assets/images/baby-lsl.png'; */

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /* line-height: 1.4em; */
  background: #f5f5f5;
  color: #4d4d4d;

  /* min-width: 230px; */
  /* max-width: 550px; */
  /* padding-left: 10%; */
  /* padding-right: 10%; */
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

.normal {
  /* background: #fff; */
  /* margin: 0px 0 0px 0; */
  height: 800px;
  display: flex;
  flex-direction: row;
  /* position: relative; */
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1); */
}

.row {
  /* padding: 20px; */
  display: flex;
  align-items: flex-start;
}

.leftside {
  /* background: #fff; */
  background: #295500;
  flex: 1;
  /* position: relative; */
  min-width: 100px;
  /* flex-grow: 1; */
  /* fle */
  height: 100%;
  /* vertical-align: bottom; */
}

.leftside h1 {
  position: sticky;
  /* top: -155px; */
  width: 400px;
  font-size: 100px;
  font-weight: 200;
  /* flex: 0; */
  /* text-align: left; */
  /* vertical-align: middle; */
  /* position: absolute; */
  /* bottom: 10px; */
  margin: 0px 00px 30px 40px;
  /* height: 50px; */
  /* height: 100%; */
  /* padding-top: 10; */
  /* padding-bottom: 10%; */
  color: rgba(255, 255, 255, 1);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

.rightside {
  /* right: 10%; */
  flex: 3;
  height: 100%;
  /* width: 75%; */
  /* flex-direction: column; */
  /* flex-direction: row-reverse; */
  /* vertical-align: text-top; */
}
.rightside h1 {
  position: relative;
  width: 400px;
  font-size: 100px;
  font-weight: 100;
  /* flex: 1; */
  text-align: center;
  /* vertical-align: middle; */
  /* position: absolute; */
  /* bottom: 10px; */
  /* margin: 0px 00px 30px 40px; */
  /* height: 50px; */
  /* height: 100%; */
  /* padding-top: 10; */
  /* padding-bottom: 10%; */
  color: rgba(255, 255, 255, 1);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}
