.project {
  /* margin: 3% 5% 3% 5%; */
  padding: 1% 10% 1% 10%;
}

.project h1 {
  position: relative;
  flex: 1;
  padding-bottom: 2vh;
  text-align: center;
}

.projectContent {
  display: flex;
  align-items: flex-start;
}

@media only screen and (max-width: 900px), (orientation: portrait) {
  .project {
    padding: 1% 5% 1% 5%;
  }
  .projectContent {
    flex-direction: column;
    align-items: center;

    /* justify-content: center; */
    /* align-content: center; */
    /* justify-content: center; */
    /* text-align: center; */
  }
}
